{% extends 'base.html.twig' %}

{% block body %}
    <h1>Boleto No.{{ boleto.idBoleto }} </h1>





    <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-table"></i> Detalles</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                  <tbody>
                    <tr>
                    	<td>
                        <td><b>Clase</b></td>
                        <td>{{ boleto.clase }}</td>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <td><b>Costo</b></td>
                        <td>{{ boleto.costo }}</td>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <td><b>No. Asiento</b></td>
                        <td>{{ boleto.costo }}</td>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <td><b>Pasajero</b></td>
                        <td>{{ boleto.idPasajero }}</td>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <td><b>Vuelo No.</b></td>
                        <td>{{ boleto.idVuelo }}</td>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <td></td>
                        <td>
                          <a href="{{ path('boletos_edit', { 'idBoleto': boleto.idBoleto }) }}">Editar</a>
                          {{ form_start(delete_form) }}
                              <input type="submit" value="Eliminar">
                          {{ form_end(delete_form) }}
                        </td>
                      </td>
                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
          </div>


{% endblock %}
