{% extends 'base.html.twig' %}

{% block body %}
    <h1>Aviones</h1>








    <!-- Example DataTables Card-->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i> Todos los Vuelos</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Número de Avión</th>
                <th>Nombre del Avión</th>
                <th>Modelo</th>
                <th>Capacidad</th>
                <th>Opcion 1</th>
                <th>Opción 2</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Número de Avión</th>
                <th>Nombre del Avión</th>
                <th>Modelo</th>
                <th>Capacidad</th>
                <th>Opcion 1</th>
                <th>Opción 2</th>
              </tr>
            </tfoot>
            {% for avione in aviones %}
              <tbody>
                <tr>
                  <td><a href="{{ path('aviones_show', { 'idAvion': avione.idAvion }) }}">{{ avione.idAvion }}</a></td>
                  <td>{{ avione.nombreavion }}</td>
                  <td>{{ avione.modelo }}</td>
                  <td>{{ avione.capacidad }}</td>
                  <td>
                    <a href="{{ path('aviones_show', { 'idAvion': avione.idAvion }) }}">Detalles</a>
                  </td>
                  <td>
                    <a href="{{ path('aviones_show', { 'idAvion': avione.idAvion }) }}">Editar</a>
                  </td>
                </tr>
                <tr>
              </tbody>
            {% endfor %}

          </table>
        </div>
      </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>


{% endblock %}
