{% extends 'base.html.twig' %}

{% block body %}
    <h1>Avión No. {{ avione.idAvion }}</h1>


    <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-table"></i> Detalles</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                  <tbody>
                    <tr>
                      <td>
                        <td><b>Nombre del avión</b></td>
                        <td>{{ avione.nombreavion }}</td>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <td><b>Modelo</b></td>
                        <td>{{ avione.modelo }}</td>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <td><b>Capacidad</b></td>
                        <td>{{ avione.capacidad }}</td>
                        <ol>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <td></td>
                        <td>

                          <a href="{{ path('aviones_edit', { 'idAvion': avione.idAvion }) }}">Editar</a>
                          <br>
                          <a href="{{ path('aviones_index') }}">Regresar</a>
                          {{ form_start(delete_form) }}
                              <input type="submit" value="Delete">
                          {{ form_end(delete_form) }}
                        </td>
                      </td>
                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
          </div>
{% endblock %}
